<div class="row">
    <div class="col-lg-12 text-center">
        <p class="big_font">404 - File Not Found</p>
        <p>The file you are trying to access is not found. Please use the menu to navigate.</p>
    </div>
</div>
