<div class="page-header">
  <h1>
    Servers - View
  </h1>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <ul class="stats-overview">
      <li>
        <span class="name">Name</span>
        <span class="value text-primary"><%= host.name %></span>
      </li>
      <li>
        <span class="name">URL</span>
        <span class="value text-primary"><%= host.url %></span>
      </li>
      <li class="hidden-phone">
        <span class="name">Probe Interval (mins)</span>
        <span class="value text-primary"><%= host.probe_interval %></span>
      </li>
    </ul>
  </div>
</div>
